.icon {
  margin: 0 7px;
}

.margin {
  margin-right: 12px;
}

#card {
  width: 21rem;
  position: relative;
}

#github_content {
  position: absolute;
  bottom: -10px;
  left: 20px;
}

.header_color {
  color: deepskyblue;
}
